.container {

	background-color: cornflowerblue;
	overflow: hidden;
	width: 100%;
}

body,
html {
	margin: 0;
	padding: 0;
}

h1 {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	color: white;
}

.start-button {
	width: 100%;
	text-align: center;
}

button {
	width: 70px;
	padding: .5rem .3rem;
	background-color: orangered;
	color: white;
	outline: none;
	border: none;
}

button:active {
	transform: scale(1.1);
}

.score-container {
	width: 100%;
	text-align: center;
	color: white;
}

.score {
	margin-left: 5px;
}

.timer-container {
	width: 100%;
	text-align: center;
	color: white;
}

.gameOver-container {
	width: 100%;
	text-align: center;
	color: white;
	margin: 0;
	padding: 0;
}

.gameOver-container h2 {
	visibility: hidden;
}

.zero {
	margin-left: 5px;
}

.container-bg {

	margin-top: -60px;
}


.game-container {
	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 90px 90px 90px;
	grid-column-gap: 10px;
	grid-row-gap: 30px;
	width: 100%;
	justify-content: center;
	margin-top: 100px;
	position: relative;
}

div[class^="image-container"] {
	position: relative;
}

.dirt-container {
	width: 100%;
	position: absolute;
	z-index: 1;
}

.mole-container {
	width: 100%;
	text-align: center;
	position: absolute;
	margin-top: -50px;
	z-index: 1;
	visibility: hidden;
}

.mole-wrapper {
	animation: mole .5s linear;
}

.dirt-container img {
	width: 140px;
}

.mole {
	width: 55px;
}

.whack {
	display: none;
	width: 130px;
	margin-top: -5px;
}

@keyframes mole {
	0% {
		margin-top: -1px;
		visibility: hidden;
	}

	80% {
		visibility: hidden;
	}

	100% {
		margin-top: -40px;
		visibility: visible;
	}
}